/* * {
    font-size: 1.5rem;
} */

body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #84c7ff;
}

ul, li {
    color: #84c7ff;
}

button {
    padding: 1rem;
    font-size: 1rem;
}

#game {
    display: none !important;
}

#rotate-warning {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #84c7ff;
    color: black;
    text-align: center;
    z-index: 9999;
    align-items: center;
    justify-content: center;
    font-size: 1.2ren;
}
/* 3D viewport canvas */
#three-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

/* UI overlay */
#ui {
    position: absolute;
    top: 20px;
    width: 100%;
    text-align: center;
    z-index: 10;
    color: black;
    pointer-events: none;
}

#high-score-display {
    color: black;
}

#startBtn {
    position: fixed;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#ui button {
    pointer-events: auto;
}

h1 {
    color: black;
}

li {
    position: relative;
}

.worm {
    position: absolute;
    width: 1rem;
    height: 1rem;
    background-color: #84c7ff;
}

.player-worm {
    position: absolute;
    width: 1rem;
    height: 1rem;
    background-color: #84c7ff;
}

.player-friend {
    position: absolute;
    width: 1rem;
    height: 1rem;
    background-color: #84c7ff;
}

@media (orientation: portrait) and (hover: none) and (pointer: coarse){
    #rotate-warning {
        display: flex;
    }
}